header {
    background-color:black;
    color:white;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    height:150px;
    font-family:monospace;
}

marquee {
    color:cornflowerblue;
    margin-top:10px;
    letter-spacing: 20px;
}

.s1 {
    background-color: white;
    margin-right: 70%;
    text-align: center;
    height: 200px;
    margin-left:10px;
    font-family:monospace;
}

.s2 {
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    position:relative;
    top: -220px;
    height: 200px;
    font-family:monospace;

}

.s3 {
    background-color: white;
    margin-left: 70%;
    position: relative;
    top: -440px;
    text-align: center;
    height: 200px;
    margin-right:10px;
    font-family:monospace;
    
}

.s4 {
    background-color:lightgray;
    text-align:center;
    height:800px;
    margin-top: -400px;
    margin-left:10px;
    margin-right:10px;
    text-transform: uppercase;
    padding-top: 1%;
}

.agreement {
    font-size: 8px;
    text-align: left;
    margin-left: 10px;
    margin-right:10px;
}

.chat {
    height: 200px;
    background-color: aliceblue;
}
body {
    background: url("blackback.png");
}

h4 {
    font-size: 10px;
}

img {
    float:right;
    margin-top: -70px;
    margin-right: 250px;
}
